<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KoinovDiplom_ActEmpKPK.Properties.Settings.HomeConnectionString"
            connectionString="Provider=SQLNCLIRDA11;Data Source=WIN-2J5GGL22MAA\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=user2"
            providerName="System.Data.OleDb" />
        <add name="KoinovDiplom_ActEmpKPK.Properties.Settings.user2ConnectionString"
            connectionString="Data Source=WIN-2J5GGL22MAA\SQLEXPRESS;Initial Catalog=user2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>